:root {
    font-size: 16px;

    /*COLOR Variables*/
    --ll-green: #495E57;
    --ll-yellow: #F4CE14;
    --ll-terra: #EE9972;
    --ll-peach: #FBDABB;
    --ll-off-white: #EDEFEE;
    --ll-off-black: #333333;
    --ll-white: #EEEEEE;

    --ll-serif:'Markazi Text', sans-serif;
    --ll-sans:'Karla', sans-serif;

    --border-radius-full: 16px;
    --border-button: 8px;;
    --drop-shadow: var(--ll-off-black) .6rem .6rem 10px;

    /* DESKTOP VARIABLES */
    --hero-bg: linear-gradient(to top,white 0%,white 25%,var(--ll-green) 25%,var(--ll-green) 100%);
    --section-padding: 1.5rem;
    --display-desktop-only: inline-block;
    --display-mobile-only: none;
    }

    @media (max-width: 650px) {
    :root {
    --hero-bg: linear-gradient(to top,white 0%,white 0%,var(--ll-green) 0%,var(--ll-green) 100%);
    --section-padding: 12px;
    --display-desktop-only: none;
    --display-mobile-only: inline-block;
    --mobile-nav: translateX(-35px);
    }
}

.error{
    color:crimson;
    font-weight: bold;
}
#Login button{
    background-color: var(--ll-green);
    color: var(--ll-off-white);
}
#Login button:hover{
    background-color: var(--ll-terra);
    color: var(--ll-green);
}
#Login button:active{
    background-color: var(--ll-green);
    color: var(--ll-off-white);
}
#login form{
    display: grid;
    gap: 20px;
    background-color: var(--ll-yellow);
    padding: 4rem;
    border-radius: var(--border-radius-full);
}
main img{
    border-radius: var(--border-radius-full);
}
.desktop-only{
    display: var(--display-desktop-only);
}